body{
background:beige;
}

.parte1{
background:#556B2F;
}

h1{
color:beige;
font-family:book antiqua;
font-size:6rem;
text-align:center;
}

.parte2{
background:beige;
}

.introduccion{
color:#6B8E23;
font-family:didot;
font-size:3rem;
text-align:center;
}

.intro{
color:black;
font-family:times;
font-size:2rem;
text-align:center;
}

.imagen1{
width:680px;
height:600px;
float:right;
}

h3{
text-align:left;
color:#556B2F;
font-size:2rem;
font-family:didot;
}

.lista{
text-align:left;
color:#556B2F;
font-size:2rem;
font-family:didot;
}

ul{
float:left;
font-size:2rem;
color:#556B2F;
}

table{
border-color:#556B2F;
color:white;
text-align:center;
font-size:40px;
background-color:#BDB76B;
width:100%;
height:50%;
}

.parte3{
background:#556B2F;
}

.evidencias{
color:beige;
font-family:didot;
font-size:4rem;
text-align:center;
}

.tabla2{
background-color:#556B2F;
text-align:center;
}

.link{
color:beige;
}

.paginas{
width:400px;
height:380px;
}

.parte4{
background-color:beige;
}

.conclusion{
color:#556B2F;
font-family:times;
font-size:4rem;
text-align:center;
}

.fin{
color:#000000;
font-size:40px;
text-align:center;
}

.parte5{
background:#556B2F;
}

h4{
text-align:center;
color:white;
font-family:didot;
font-size:2rem;
}
.grafica{
width:60%;
height:680px;
}