CSS

header{
background-color:green;
font-family:’open sans’;
}
.contenedor{
padding:60px 0;
Windth:90;
Max-width:1000px;
Margin:auto;
Overflow:hidden;
}
.título{
Color:magenta;
Font-size:60px;
Text-align:Center;
Margin:bottom:60px;
}
Img1{
Width:48%;
Height:300px;
Width:300px;
Float:Center;
Display:block;
Margin:auto;
}
h3{
Font-family:times;
Font-color:magenta;
}

#img2{
height:700px;
Width:100%;
float:Center;
display:block;
margin:auto;
}
#p2{
Font-family:Arial;
Font-color:#;
} Font-family:Arial;
Font-color:#;
}

#imagen{
height:100px;
width:300px;
float:Center;
display:block;
margin:auto;
}
#p3{
Font-family:Arial;
Font-color:#;
}

#img4{
height:700px;
width:100%;
Float:Center;
Display:block;
Margin:auto;
}
#p4{
Font-family:Arial;
Font-color:#;
}

#img5{
height:700px;
width:100%;
float:Center;
display:block;
margin:auto;
}
#p5{
Font-family:Arial;
Font-color:#;
}

#img6{
height:700px;
width:100%;
float:Center;
display:block;
margin:auto;
}
#p6{
Font-family:Arial;
Font-color:#;
}

#img7{
height:300px;
width:300px;
float:Center;
display:block;
margin:auto;
}
#p7{
Font-family:Arial;
Font-color:#;
}

#img8{
height:700px;
width:100%;
float:Center;
display:block;
margin:auto;
}
#p8{
Font-family:Arial;
Font-color:#;
}
ul{
list-inside:position;
Text-align:left;
Color:green;
}
h5{
font-family:Arial;
font-color:#;
text-align:Center;
}
h4{
font-family:Arial;
font-color:#;
text-align:Center;
}
